<%= form_with(model: tool) do |form| %>
  <% if tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
        <% tool.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :language %>
    <%= form.select :language, [['Britain', 'EN'], ['Italia', 'IT'], ['Srbija', 'SR'], ['Slovensko', 'SK'], ['Slovenija', 'SL'], ['България', 'BG'], ['Česká republika', 'CS'], ['Hrvatska', 'HR'], ['Română', 'RO']] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
